extends layout

block content
  #container
    #logo
        img(src='/images/logo.png')
    #display
        include userbar 
        h1 Editing #{name.toLowerCase()}
        form(action='/item/:id', mothod='POST')
          input(type='hidden', name='_method', value='PUT')
          p
            label(for='product_name')
            input(type='text', id='product_name', name='product[name]', value='#{name.toLowerCase()}')
          p
            label(for='product_price')
            input(type='text', id='product_price', name='product[price]', value='#{price}')
          p
            input(type='submit')       
    include footer
